Repository chmouel/aur-update: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-syntax-check, pkgbuild-syntax-check, validate-packages-json, updpkg-script-test

.pre-commit-config.yaml:

# Pre-commit hooks for AUR package repository
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install --hook-type pre-push
# Run manually: pre-commit run --all-files --hook-stage push

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict
      # Ensure files end with a newline
      - id: end-of-file-fixer
      # Trim trailing whitespace
      - id: trailing-whitespace
      # Check YAML syntax
      - id: check-yaml
        args: ["--unsafe"] # Allow custom tags in GitHub Actions
      # Check for merge conflict markers
      - id: check-merge-conflict
      # Prevent committing large files
      - id: check-added-large-files
        args: ["--maxkb=500"]
      # JSON validation
      - id: check-json
        files: 'packages\.json$'
        stages: [pre-push]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
        args: ["--disable", "MD013", "MD033"] # Disable line-length and inline HTML rules
        stages: [pre-push]

  # Bash syntax validation
  - repo: local
    hooks:
      - id: bash-syntax-check
        name: Check Bash syntax
        entry: bash -n
        language: system
        files: '\.sh$'
        stages: [pre-push]

      - id: pkgbuild-syntax-check
        name: Check PKGBUILD syntax
        entry: bash -n
        language: system
        files: "PKGBUILD$"
        stages: [pre-push]

      - id: validate-packages-json
        name: Validate packages.json structure
        entry: bash -c 'for file in "$@"; do jq -e "if type == \"array\" then true else error(\"Root must be an array\") end" "$file" > /dev/null || exit 1; done' --
        language: system
        files: 'packages\.json$'
        stages: [pre-push]
        pass_filenames: true

      - id: updpkg-script-test
        name: Test updpkg.sh script validity
        entry: bash -c './updpkg.sh --help > /dev/null'
        language: system
        files: 'updpkg\.sh$'
        stages: [pre-push]
        pass_filenames: false

feat: Add AUR package for claude-agent-acp
  aur/claude-agent-acp/.SRCINFO
  aur/claude-agent-acp/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: update build and package process for claude-agent-acp
  aur/claude-agent-acp/PKGBUILD
Due: pkgbuild-syntax-check

fix: bump pkgrel for claude-agent-acp
  aur/claude-agent-acp/.SRCINFO
Due: none

chore: remove claude-code-acp AUR package
  aur/claude-code-acp/.SRCINFO
  aur/claude-code-acp/PKGBUILD
Due: pkgbuild-syntax-check

refactor: Rename package from openai-codex-autoup-bin
  README.md
  docs/testing.md
Due: none

fix: update npm package scope for claude-agent-acp
  packages.json
Due: validate-packages-json

fix: update package build path for agent client protocol
  aur/claude-agent-acp/PKGBUILD
Due: pkgbuild-syntax-check

Delete aur/gemini-cli-autoup directory
  aur/gemini-cli-autoup/.SRCINFO
  aur/gemini-cli-autoup/LICENSE
  aur/gemini-cli-autoup/PKGBUILD
Due: pkgbuild-syntax-check

fix: use musl Codex release artifacts
  aur/openai-codex-bin/.SRCINFO
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

fix: reset openai-codex-bin pkgrel
  aur/openai-codex-bin/.SRCINFO
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

feat: add shmooz package
  aur/shmooz/.SRCINFO
  aur/shmooz/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: update shmooz checksum and refine build script
  aur/shmooz/.SRCINFO
  aur/shmooz/PKGBUILD
Due: pkgbuild-syntax-check

fix: quote job ID variable in workflow script
  run-and-tail-workflow.sh
Due: bash-syntax-check

fix(openai-codex-bin): add codex-code-mode-host binary
  aur/openai-codex-bin/.SRCINFO
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

feat: Add batzconverter package to AUR
  aur/batzconverter/.SRCINFO
  aur/batzconverter/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: Reset pkgrel to 1 when updating package versions
  README.md
  docs/testing.md
  updpkg.sh
Due: bash-syntax-check, updpkg-script-test

feat: Update batzconverter package to version 4.0.0
  aur/batzconverter/.SRCINFO
  aur/batzconverter/PKGBUILD
Due: pkgbuild-syntax-check

fix: Rename package to batz-converter in AUR configuration
  aur/batzconverter/.SRCINFO
  aur/batzconverter/PKGBUILD
Due: pkgbuild-syntax-check

feat: Add batz-converter package and update directory path
  aur/batz-converter/.SRCINFO
  aur/batz-converter/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: Strip leading v from batz-converter version tags
  packages.json
Due: validate-packages-json

fix: Add retry logic for pushing AUR package updates
  .github/workflows/aur-update.yml
Due: none

chore: Ignore temporary files in openai codex package
  aur/openai-codex-bin/.gitignore
Due: none

fix: Disable Claude agent package in AUR configuration
  packages.json
Due: validate-packages-json

feat: Add support for force regeneration and pushing to AUR
  .github/workflows/aur-update.yml
  README.md
  updpkg.sh
Due: bash-syntax-check, updpkg-script-test

fix(openai-codex-bin): include bundled voice runtime
  aur/openai-codex-bin/.SRCINFO
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

fix(openai-codex-bin): include bundled voice runtime (#3)
  aur/openai-codex-bin/.SRCINFO
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

feat: add Herdr GPUI AUR package with auto-updates
  aur/herdr-gpui/.SRCINFO
  aur/herdr-gpui/.gitignore
  aur/herdr-gpui/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: Update herdr-gpui for latest release
  aur/herdr-gpui/PKGBUILD
Due: pkgbuild-syntax-check
