Repository chmouel/aur-update: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-syntax-check, pkgbuild-syntax-check, validate-packages-json, updpkg-script-test

bash-syntax-check:
  name: Check Bash syntax
  entry: bash -n
  language: system
  stages:
  - pre-push

pkgbuild-syntax-check:
  name: Check PKGBUILD syntax
  entry: bash -n
  language: system
  stages:
  - pre-push

validate-packages-json:
  name: Validate packages.json structure
  entry: bash -c 'for file in "$@"; do jq -e "if type == \"array\" then true else error(\"Root must be an array\") end" "$file" > /dev/null || exit 1; done' --
  language: system
  stages:
  - pre-push
  pass_filenames: true

updpkg-script-test:
  name: Test updpkg.sh script validity
  entry: bash -c './updpkg.sh --help > /dev/null'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: Update checkout action to v5 in AUR workflow
  .github/workflows/aur-update.yml
Due: none

chore: Update GitHub Actions dependencies
  .github/workflows/aur-update.yml
Due: none

refactor: Simplify AUR update workflow
  .github/workflows/aur-update.yml
Due: none

feat: Enhance AUR update workflow with SSH and direct AUR push
  .github/workflows/aur-update.yml
Due: none

fix: Configure safe directory for AUR update workflow
  .github/workflows/aur-update.yml
Due: none

fix: Improve workflow run detection and viewing in script
  run-and-tail-workflow.sh
Due: bash-syntax-check

fix: Update shell script to use env bash and set options
  run-and-tail-workflow.sh
Due: bash-syntax-check

feat: Add aur package for nextmeeting utility
  aur/.SRCINFO
  aur/claude-code-acp/.SRCINFO
  aur/claude-code-acp/PKGBUILD
  aur/nextmeeting/PKGBUILD
  aur/openai-codex-autoup-bin/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: Enable debug logging in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

fix: Include pacman-contrib in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

feat: Add dedicated build user for AUR updates
  .github/workflows/aur-update.yml
Due: none

fix: Ensure build operations run as dedicated user
  .github/workflows/aur-update.yml
Due: none

fix: Ensure GITHUB_OUTPUT is available in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

refactor: Improve security and consistency in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

chore: Disable committing AUR package updates from workflow
  .github/workflows/aur-update.yml
Due: none

fix: Correctly handle SSH key line endings in AUR workflow
  .github/workflows/aur-update.yml
Due: none

fix: Ensure correct SSH key permissions in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

fix: Remove conditional execution for tmate session setup
  .github/workflows/aur-update.yml
Due: none

fix: Enable command execution tracing in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

fix: Update secret name used for AUR SSH key
  .github/workflows/aur-update.yml
Due: none

feat: Add debugging option to AUR update workflow
  .github/workflows/aur-update.yml
Due: none

fix: Re-enable commit step in AUR update workflow
  .github/workflows/aur-update.yml
Due: none

feat: Allow debugging when triggering workflows
  run-and-tail-workflow.sh
Due: bash-syntax-check

chore: Grant write permission to AUR workflow
  .github/workflows/aur-update.yml
Due: none

feat: Add gemini-cli-autoup package
  aur/gemini-cli-autoup/.SRCINFO
  aur/gemini-cli-autoup/LICENSE
  aur/gemini-cli-autoup/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

feat: add tkn-pac package
  aur/tkn-pac/.gitignore
  aur/tkn-pac/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

Disable gemini-cli
  packages.json
Due: validate-packages-json

feat: add tmux-fingers to packages
  aur/tmux-fingers/.gitignore
  aur/tmux-fingers/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

fix: Revert pkgver to 2.6.0
  aur/tmux-fingers/PKGBUILD
Due: pkgbuild-syntax-check

fix: Run update every six hours
  .github/workflows/aur-update.yml
Due: none

Rename openai-codex-autoup-bin to openai-codex-bin
  aur/openai-codex-bin/.SRCINFO
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

fix: Rename aur package from autoup-bin to bin
  packages.json
Due: validate-packages-json

fix: add shell completions for codex CLI
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

Remove development section from README
  README.md
Due: none

fix: Add support for fish and powershell completions
  aur/openai-codex-bin/PKGBUILD
Due: pkgbuild-syntax-check

fix: Update gh run view command
  run-and-tail-workflow.sh
Due: bash-syntax-check

feat: Add kubectl-neat package
  aur/kubectl-neat/.SRCINFO
  aur/kubectl-neat/PKGBUILD
  packages.json
Due: pkgbuild-syntax-check, validate-packages-json

Change AUR update schedule to every 4 hours
  .github/workflows/aur-update.yml
Due: none

fix: disable claude-code-acp in packages
  packages.json
Due: validate-packages-json

Path conditions:
  bash-syntax-check: any of: \.sh$
  pkgbuild-syntax-check: any of: PKGBUILD$
  validate-packages-json: any of: packages\.json$
  updpkg-script-test: any of: updpkg\.sh$
